
/* Color Theme Swatches in Hex */
.compound-green-gray-coral-1-hex { color: #52AEA0; }
.compound-green-gray-coral-2-hex { color: #224E6A; }
.compound-green-gray-coral-3-hex { color: #627E8F; }
.compound-green-gray-coral-4-hex { color: #FFB0A2; }
.compound-green-gray-coral-5-hex { color: #737373; }

/* Color Theme Swatches in RGBA */
.compound-green-gray-coral-1-rgba { color: rgba(82, 174, 160, 1); }
.compound-green-gray-coral-2-rgba { color: rgba(33, 78, 105, 1); }
.compound-green-gray-coral-3-rgba { color: rgba(98, 125, 142, 1); }
.compound-green-gray-coral-4-rgba { color: rgba(255, 175, 162, 1); }
.compound-green-gray-coral-5-rgba { color: rgba(114, 114, 114, 1); }

/* Color Theme Swatches in HSLA */
.compound-green-gray-coral-1-hsla { color: hsla(170, 36, 50, 1); }
.compound-green-gray-coral-2-hsla { color: hsla(203, 51, 27, 1); }
.compound-green-gray-coral-3-hsla { color: hsla(203, 18, 47, 1); }
.compound-green-gray-coral-4-hsla { color: hsla(8, 100, 81, 1); }
.compound-green-gray-coral-5-hsla { color: hsla(0, 0, 45, 1); }

/* Color Theme Swatches in Hex */
.Teal--Coral-Spectrum-1-hex { color: #BAF2E8; }
.Teal--Coral-Spectrum-2-hex { color: #218DA6; }
.Teal--Coral-Spectrum-3-hex { color: #FFFFF0; }
.Teal--Coral-Spectrum-4-hex { color: #FEB2AD; }
.Teal--Coral-Spectrum-5-hex { color: #F56358; }

/* Color Theme Swatches in RGBA */
.Teal--Coral-Spectrum-1-rgba { color: rgba(186, 242, 232, 1); }
.Teal--Coral-Spectrum-2-rgba { color: rgba(33, 140, 165, 1); }
.Teal--Coral-Spectrum-3-rgba { color: rgba(255, 255, 239, 1); }
.Teal--Coral-Spectrum-4-rgba { color: rgba(253, 177, 172, 1); }
.Teal--Coral-Spectrum-5-rgba { color: rgba(244, 98, 87, 1); }

/* Color Theme Swatches in HSLA */
.Teal--Coral-Spectrum-1-hsla { color: hsla(169, 68, 83, 1); }
.Teal--Coral-Spectrum-2-hsla { color: hsla(191, 66, 39, 1); }
.Teal--Coral-Spectrum-3-hsla { color: hsla(60, 100, 97, 1); }
.Teal--Coral-Spectrum-4-hsla { color: hsla(3, 97, 83, 1); }
.Teal--Coral-Spectrum-5-hsla { color: hsla(4, 88, 65, 1); }



body.Principal{
    background-color: #224E6A;
    color: #FFFFF0;
    font-family: monospace; 
    text-align: justify;
    width: 1450px;
    margin: auto;
}

.headercontainer{
    width: 100%;
}

.ImageHead{
    width: 40%;
    position: relative;
    float: left;
    padding-left: 20px;
}
.TextHead{
    width: 60%;
    position: relative;
}
#MainText{
    /* text-shadow: 3px 5px #59A4EB; */
    text-align: center;

    float: left;
}
#logoheader{
    width: 175px;
    height: 150px;
    float: right;

     }
#Who{
    width: 450px;
    height: 300px;
}
.foot{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    color:#FFB0A2;

    }
#littleh{
    /* text-shadow: 3px 5px #59A4EB; */
    text-align: center;
    float: left;
    color: #FFB0A2;
}
a{
    text-decoration: none;
    color: #224E6A;
}
a:hover{
background-color:  #224E6A;
    color: #FFB0A2;
}
h2{
    color: #FFB0A2;
    
}
h1{
    color: #FFB0A2; 
}
#navbar{
    background-color:  #627E8F;
    margin-top: 10px;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    border: 3px solid #737373;
    }
nav>ul{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 300px;
    
}

ul.list-sm{
    display: block;
}

nav>ul>li{
    float: left;
   }

nav>ul>li>a{
    padding: 10px;
    display: inline-block;
    border-right: 1px solid #bbb;
    text-decoration: none;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 15px;
    text-align: center;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img#central{
    /* opacity: 0.5; */
    filter: alpha(opacity=50);
    float: left;
    margin-right: 25px;

}
img#icono{
    margin-top: 5px;
    padding: 5px;
    width: 35px;
    height: 40px;
}
div.gallery {
    margin: 5px;
   /* border: 1px solid #ccc;*/
    float: left;
    width: 180px;
    margin-right: 100px;
    margin-left: 55px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: 150px;

  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
/*.Everything{
    height: ;
}*/
.IntroText{
    text-align: justify;
    height: 20%;
    margin-bottom: 20px;
}
.FinalText{
    height: 30%;
    text-align: justify;
    padding-left: 20px; 
    width: 50%;
    float: left;    
}
button{
    background-color: #737373;
    color:#FFB0A2;
}
