body.Principal{
    background-color: rgb(87, 80, 124);
    color: rgb(151, 192, 229);
    font-family: monospace; 
    width: 1450px;
    margin: auto;
}
/*aside#logo{
    background-color: rgb(145, 112, 125);
    width: 0%;
    float: left;
}*/
/* #logo{
    text-align: center;
    float: right;
} */
.headercontainer{
    width: 100%;
}
footer.foot{
    text-align: center;
}
.ImageHead{
    width: 40%;
    position: relative;
    float: left;
}
.TextHead{
    width: 60%;
    position: relative;
}
#MainText{
    text-shadow: 3px 5px rgb(45, 72, 107);
    text-align: center;
    float: left;
}
#logoheader{
    width: 175px;
    height: 100px;
    float: right;

     }
#Who{
    width: 450px;
    height: 300px;
}

#littleh{

    text-shadow: 3px 5px rgb(45, 72, 107);
    text-align: center;
    float: left;
}
/* body>div>header>div>small{
    float: left;
    margin-top: 50px;
} */
a{
    text-decoration: none;
    color: rgb(160, 87, 167);
}
a:hover{
background-color:  rgb(160, 87, 167);
    color: rgb(65, 62, 62);
}
#navbar{
    background-color:  rgb(65, 62, 62);
    margin-top: 10px;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    border: 3px solid rgb(94, 17, 97);
    

}
nav>ul{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 300px;
    
}

ul.list-sm{
    display: block;
}

nav>ul>li{
    float: left;
   }

nav>ul>li>a{
    padding: 10px;
    display: inline-block;
    border-right: 1px solid #bbb;
    text-decoration: none;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 15px;
    text-align: center;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img#central{
    opacity: 0.5;
    filter: alpha(opacity=50);
    float: left;
    margin-right: 25px;

}
img#icono{
    margin-top: 5px;
    padding: 5px;
    width: 35px;
    height: 40px;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: 150px;

  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
