
/* Color Theme Swatches in Hex */
.yarns2-1-hex { color: #C13E59; }
.yarns2-2-hex { color: #8A3063; }
.yarns2-3-hex { color: #C0619B; }
.yarns2-4-hex { color: #4CBFC0; }
.yarns2-5-hex { color: #F2EAB5; }

/* Color Theme Swatches in RGBA */
.yarns2-1-rgba { color: rgba(193, 62, 89, 1); }
.yarns2-2-rgba { color: rgba(138, 48, 99, 1); }
.yarns2-3-rgba { color: rgba(192, 97, 155, 1); }
.yarns2-4-rgba { color: rgba(76, 191, 192, 1); }
.yarns2-5-rgba { color: rgba(242, 234, 181, 1); }

/* Color Theme Swatches in HSLA */
.yarns2-1-hsla { color: hsla(347, 51, 50, 1); }
.yarns2-2-hsla { color: hsla(326, 48, 36, 1); }
.yarns2-3-hsla { color: hsla(323, 42, 56, 1); }
.yarns2-4-hsla { color: hsla(180, 47, 52, 1); }
.yarns2-5-hsla { color: hsla(52, 70, 82, 1); }


body{
    background-color: rgb(194, 250, 247);
    color: #8A3063;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
form {
    border: 3px solid #f1f1f1;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color:#dfbdfa;
    font-family:Arial;
	font-size:15px;
	font-weight:bold;
    color: #ffffff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 10%;
    border-radius: 50%;

  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }
 /* Style the search box */
#mySearch {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
}

/* Style the navigation menu */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Style the navigation links */
#myMenu li a {
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myMenu li a:hover {
  background-color: #eee;
}